body {
	background-image: url(../img/background.png);
}

.about, 
.mission, 
.phone-number, 
.vk, 
.feedback {
	margin: 0 auto;
	width: 50%; 
	font-family: arial, sans-serif;
}

.about h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
}

.about img {
  margin: auto;
  display: block;
	width: 200px;
	height: 200px;
}

.about p {
	color: rgb(160, 160, 160);
}

hr {
  margin-top: 5px;
	border: none;
  color: rgb(180, 180, 180);
  background-color: rgb(180, 180, 180);
  height: 1px;
}

li {
	margin: 5px 0px;
}

.phone-number>p, .feedback>p{
	text-indent: 3.5%;
}

a {
	padding-left: 3.5%;
}